mixin skills()
 .skills
    .skills__caption
        .skills__block.skills__caption__text
          p.skills__caption__text skills
    .skills-block__wrapper
        .skills__block.skills__creative
            p.skills__block__text creative
        .skills__block.skills__teamwork
            p.skills__block__text teamwork
        .skills__block.skills__innovate
            p.skills__block__text innovate
        .skills__block.skills__communication
            p.skills__block__text communication
