.skills
    flex-container()
    width 100%
.skills__caption
    margin-bottom 5%
    position relative
    &:after
      line_after()
.skills__block
    display block
    margin-bottom 5%

.skills__caption__text
    display block
    margin 0
    color #3d6cb0
    font-size 2.125rem
    font-weight 700
    text-transform uppercase
    padding-left rem(23px)
.skills-block__wrapper
    display flex
    justify-content space-between
    flex-direction column
    width 70%
    align-items center
.skills__block__text
    margin 0
    font-size 1.1875rem
    font-weight 400
    text-transform uppercase
