mixin skills()
 .skills
    .flex-container
        .skills__creative
            p creative
        .skills__teamwork
            p teamwork
        .skills__innovate
            p innovate
        .skills__communication
            p communication