.profile
    flex-container()
    width 100%
.profile__text__profile
    display block
    color #3d6cb0
    text-transform uppercase
    &:after
         position absolute
         content ""
         width 337px
         height 11px
         left 6.250em
         background-color #3d6cb0
.profile__text__profile__text
    display block
     margin 0
    
.profile__text
    font-family "Myriad Pro"
    font-size: 82px;
    font-weight 700
    margin 0