.profile
    flex-container()
    width 100%
.profile__text
    display block
    color #3d6cb0
    position relative
    text-transform uppercase
    &:after
         position absolute
         content ""
         width 169px
         height 6px
         top 18px
         background-color #3d6cb0
    &:before
         position absolute
         content ""
         width 74px
         height 72px
         left 4px
         top -10px
         background-image url(../images/profile-icon.png)
.profile__text__about
    display block
    margin 0
    color #000000
    font-size: rem(15px)
    font-weight 400
    span
      font-weight 700
