.profile
    flex-container()
    width 30%
.profile__text__profile
    display block
    color #3d6cb0
    text-transform uppercase
    &:after
         position absolute
         content ""
         width 10%
         height 6px
         left 6.250em
         background-color #3d6cb0
.profile__text
    display block
    margin 0