body {
  width: 100%;
  background-repeat: no-repeat;
  font-size: 14px;
  font-size: 1.4rem;
  margin: 0;
}
html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: 'PT Sans', Arial, sans-serif;
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}
h1 {
  font-size: 2.4rem;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.main-caption {
  font-size: 2.125rem;
  font-weight: 700;
  margin: 0;
}
.author {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
}
.author__block {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}
.author__image {
  display: block;
  position: relative;
  width: 29.0625rem;
  height: 29.0625rem;
  border: 0.125rem solid #3d6cb0;
  border-radius: 50%;
  margin-top: 57px;
  margin-right: 120px;
  margin-bottom: 10px;
  width: 10.5rem;
  height: 10.5625rem;
}
.author__image::after {
  position: absolute;
  content: "";
  border-radius: 50%;
  width: 150px;
  height: 147px;
  top: 9px;
  right: 7px;
  background-color: #3d6cb0;
}
.author-text {
  display: block;
  margin: 0;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-family: 'pt_sansitalic';
}
.author-text__name {
  display: block;
  font-size: 2.5rem;
  font-weight: 400;
}
.author-text__surname {
  display: block;
  font-size: 2.6875rem;
  font-weight: 700;
}
.author-text__job {
  display: block;
  font-size: 1.125rem;
}
.contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}
.contact__caption {
  display: block;
  position: relative;
}
.contact__caption:after {
  position: absolute;
  content: "";
  width: 12.0625rem;
  height: 0.2875rem;
  left: 14.0625rem;
  top: 1rem;
  background-color: #3d6cb0;
}
.contact__caption__text {
  font-size: 2.125rem;
  color: #3d6cb0;
  margin: 0;
  padding-left: 7%;
  text-transform: uppercase;
}
.contact__block {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}
.contact__text {
  display: block;
  color: #3d6cb0;
  font-size: 1.5625rem;
  font-weight: 700;
  margin: 0;
  padding-left: 10%;
}
.education {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.education-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.education-list__item {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.education__text {
  display: block;
  position: relative;
  margin: 0;
  padding-left: 24px;
  text-transform: uppercase;
  background-repeat: no-repeat;
}
.education__text:before {
  display: none;
  position: absolute;
  content: '';
  width: 9.25rem;
  height: 8.9375rem;
  background: url("../images/haha.png");
}
.education-list__item__text {
  display: block;
  margin: 0;
  font-weight: 400;
  font-size: 1.2375rem;
}
.education-list__item__text span {
  color: #020202;
}
.education-list__item__text__degree {
  display: block;
  margin: 0;
  position: relative;
  text-transform: uppercase;
  font-size: 1.256rem;
  padding-left: 18px;
  color: #3d6cb0;
}
.education-list__item__text__degree::before {
  position: absolute;
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  left: -2px;
  background-color: #000;
  border-radius: 50%;
}
.expirience {
  width: 60%;
}
.left_side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 44%;
  align-items: center;
}
.main_block {
  display: flex;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}
.profile {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.profile__text__profile {
  display: block;
  color: #3d6cb0;
  position: relative;
  text-transform: uppercase;
}
.profile__text__profile:after {
  position: absolute;
  content: "";
  width: 12.0625rem;
  height: 0.2875rem;
  left: 10.0625rem;
  top: 1rem;
  background-color: #3d6cb0;
}
.profile__text__profile__text {
  display: block;
  margin: 0;
  font-size: 0.9375rem;
  width: 74%;
  font-weight: 400;
}
.right_side {
  display: flex;
  flex-direction: column;
  width: 56%;
  align-items: center;
  justify-content: space-between;
}
.skills {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.skills__caption {
  margin-bottom: 5%;
  position: relative;
}
.skills__caption:after {
  position: absolute;
  content: "";
  width: 12.0625rem;
  height: 0.2875rem;
  left: 14.0625rem;
  top: 1rem;
  background-color: #3d6cb0;
}
.skills__block {
  display: block;
  margin-bottom: 5%;
}
.skills__caption__text {
  display: block;
  margin: 0;
  color: #3d6cb0;
  font-size: 2.125rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 1.4375rem;
}
.skills-block__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 70%;
  align-items: center;
}
.skills__block__text {
  margin: 0;
  font-size: 1.1875rem;
  font-weight: 400;
  text-transform: uppercase;
}
