body,
html {
  width: 100%;
  height: 100%;
  font-family: 'MyriadProRegular', Helvetica, Arial, sans-serif;
  background-repeat: no-repeat;
}
html {
  box-sizing: border-box;
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.author {
  display: flex;
  width: 30%;
}
.author-text {
  display: block;
  margin: 0;
  color: #000;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-family: "Myriad Pro";
}
.author-text__name {
  padding-bottom: 1.3em;
}
.author-text__surname {
  padding-bottom: 2.25em;
}
.content {
  display: block;
}
.education {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.education-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
}
.education-list__item {
  display: flex;
  flex-direction: column;
}
.education__text {
  margin: 0;
}
.education-list__item__text {
  display: block;
  margin: 0;
}
.education-list__item__text span {
  color: #020202;
}
.education-list__item__text__degree {
  display: block;
  width: 23.875em;
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 2em;
  color: #3d6cb0;
}
.education-list__item__text__degree::before {
  position: absolute;
  content: "";
  width: 2.5em;
  height: 2.5em;
  background-color: #000;
  border-radius: 50%;
}
.expirience {
  width: 60%;
}
.left_side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  align-items: center;
}
.main_block {
  display: flex;
  width: 2244px;
  margin-left: 1.25em;
}
.profile {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.profile__text__profile {
  display: block;
  color: #3d6cb0;
  text-transform: uppercase;
}
.profile__text__profile:after {
  position: absolute;
  content: "";
  width: 337px;
  height: 11px;
  left: 6.25em;
  background-color: #3d6cb0;
}
.profile__text__profile__text display block {
  margin: 0;
}
.profile__text {
  font-family: "Myriad Pro";
  font-size: 82px;
  font-weight: 700;
  margin: 0;
}
.right_side {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  justify-content: space-between;
}
