.education
    display flex
    flex-direction column
    width 60%
.education-list 
    display flex
    flex-direction column
    list-style-type none
    padding-left 0 
.education-list__item 
    display flex
    flex-direction column
.education__text
    margin 0
.education-list__item__text  
    display block
    margin 0
    span 
        color #020202
.education-list__item__text__degree 
    display block
    width 23.875em
    margin 0
    text-transform uppercase
    padding-bottom 2.000em
    color: #3d6cb0;
    &::before
        position absolute
        content ""
        width 40px
        height 40px
        background-color #000000
        border-radius 50%
