mixin education()
 .education
        p.main-caption.education__caption education
                ul.education-list 
                    -for(var i=0; i<=4 ; i++) 
                        li.education__list-item 
                            p.list-item__text.list-item__text-degree  master degree #[span //Feb 2011 - Jun 2014]
                            p.list-item__caption  UNIVERSITY NAME 
                                p.list-item__about  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
