.education
    display flex
    flex-direction column
    width 100%
.education-list
    display flex
    flex-direction column
    list-style-type none
    padding-left 0
    margin: 0
.education-list__item
    display flex
    flex-direction column
    width 100%
.education__text
    display block
    position relative
    margin 0
    padding-left 24px
    text-transform uppercase
    background-repeat no-repeat
    &:before
      display none
      position absolute
      content ''
      width rem(148px)
      height rem(143px)
      background url(../images/haha.png)
.education-list__item__text
    display block
    margin 0
    font-weight 400
    font-size 1.2375rem
    span
      color #020202
.education-list__item__text__degree
    display block
    margin 0
    position relative
    text-transform uppercase
    font-size 1.256rem
    padding-left 18px
    color #3d6cb0
    &::before
        position absolute
        content ""
        width 1.2rem
        height 1.2rem
        left -2px
        background-color #000000
        border-radius 50%
