mixin software()
 .software
    .software__photoshop
        p photoshop
    .software__illustrator
        p illustrator
    .software__indesign
        p indesign
    .software__dreamweaver
        p dreamweaver
    .software__after-effects
        p after effects
    .software__html-css3
        p html&css3