.author
    display flex
    width 30%
   // order: 1
.author-text
   display block
   margin 0
   color text_color
   font-weight 700
   text-align center
   //font-size 650%
   text-transform uppercase
   font-family  "Myriad Pro"
.author-text__name
    padding-bottom 1.3em
.author-text__surname
    padding-bottom 2.25em
//.author__image 
//   display none
//   width 465px
//   height 465px
//   border 2px solid #3d6cb0
//   color blue
//   border-radius 50%
//   &:after
//    display block
//    width: 406px;
//    height: 406px;
//    background-color: #3d6cb0;