mixin author()
 .author
      .author__image
      .author__block
        p.author-text.author-text__name name here
        p.author-text.author-text__surname  surname
        p.author-text.author-text__job  graphic designer