mixin contact()
    .contact
      .contact__block.contact__caption
          p.main-caption.contact__caption-text contact
      .contact__block.contact__adress
          p.contact__block-caption address
          p.contact__block-about Main Street, City.
      .contact__block.contact__email
          p.contact__block-caption e-mail
          p.contact__block-about contact@domain.com
      .contact__block.contact__phone
          p.contact__block-caption phone
          p.contact__block-about 555-555-555
      .contact__block.contact__website
          p.contact__block-caption website
          p.contact__block-about www.yourweb.com
