.contact
    flex-container()
    width 100%
    justify-content space-between
.contact__caption
    display block
    position relative
    &:after
      line_after()
    &:before
      position absolute
      content ""
      width 72px
      height 72px
      background-image url(../images/contact-icon.png)
.contact__block
  display flex
  width 80%
  justify-content space-between
  align-items center
.contact__block-caption
    display block
    color #3d6cb0
    font-size rem(21px)
    font-weight 700
    text-transform uppercase
.contact__block-about
    display block
    color #000000
    font-size rem(21px)
    font-weight 400
