mixin contact()
    .contact
      .flex-container
        .contact-address
            p.contact-address__text Main Street,City
        .contact-email
            p.contact-email__text contact@domain.com
        .contact-phone
            p.contact-phone__text 555-555-555
        .contact-website
            p.contact-website__text www.yourweb.com