//главный файл с общей разметкой и к нему подключаем index.pug отдельными файлами
doctype html
html
  head
    meta(charset = "UTF-8")
    link(rel="stylesheet" href="css/main.css")
            
    block  title
      title  Resume-page
        
        
    body
        block pagecontent
            