//главный файл с общей разметкой и к нему подключаем index.pug отдельными файлами
doctype html
html
  head
    meta(charset = "UTF-8")
    meta(name = "viewport" content = "width=device - width, initial-scale = 1.0")
    link(rel="stylesheet" href="css/fonts.css" type="text/css" charset="utf-8")
    link(rel="stylesheet" href="css/main.css")
            
    block  title
      title  Resume-page
        
        
            
