flex-container()
    display flex
    flex-direction column
rem(value)
  base-font-size ?= 16px
  type = unit(value)
  if type == px
    return unit(value / base-font-size, 'rem')
  else
    return unit(value, type)
line_after()
      position absolute
      content ""
      width: 12.0625rem;
      height: 0.2875rem;
      left 14.0625rem
      top rem(16px)
      background-color #3d6cb0
