include ../education/education.pug
include ../expirience/expirience.pug
include ../software/software.pug

mixin right_side()
    
    .right_side
        
        +education()
        
        +expirience()
        
        +software()